<section class="py-2">
    <h4>Dashboard</h4>
    <p class="text-secondary"><i class="fa fa-info-circle text-primary"></i> Easily manage reservations, track stays,
        and provide a seamless experience for guests.</p>
</section>

<!-- <app-DashboardCards></app-DashboardCards> -->

<section class="py-2">
    <div class="card">
        <div class="card-body">
            <div class="container-fuild">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-start">
                        <div>
                            <i class="fa fa-user-circle p-2 fa-3x"></i>
                        </div>
                        <div>
                            <label class="fw-bolder fs-5 m-0 p-0">Pankaj Rawat</label><br>
                            <label>+91 9999999999</label>
                        </div>
                    </div>
                    <div>
                        <small class="py-2 pd-block badge badge-light">Date : 23-Aug-2023</small>
                        <small class="py-2 d-block badge badge-primary">4 days to go</small>
                    </div>
                </div>
            </div>
            <hr class="hr hr-blurry">
              
        </div>
    </div>
</section>